/* ALL MEDIA  QUERIES*/
@media screen and (max-width: 600px){
  .features {
    display: flex;
    flex-direction: column;
  }
  .feature__text{
    width: 95%;
   }
   .features{
    border: none;
   }
}

@media screen and (max-width: 500px) {
  .step__label{
    left: 40%;
    top: -2em;
    font-weight: 600;
   }
  .step--1 .step__label,
  .step--2 .step__label {
    top: 0.7em;
    left: 70%;
  }
}


@media screen and (max-width: 450px) {
 /* PAGE INDEX */
 .section-lead{
  max-width: 95%;
 }
 .section--tight{
  padding-top: 1.5rem;
 }
 
 .about__title{
  margin-bottom: 3.5rem;
 }
 .container{
  width: 85%;
 }
 .stairs__text{
  align-self: center;
  align-items: center;
 }
 .stairs__wrapper{
  gap: 3rem;
 }
 .stairs__diagram{
  height: calc(var(--step-h) * 4);
 }
 
 
  /* PAGE NEWS */
  .section-title {
    font-size: 1.25rem;
    padding: 2rem;
    margin-bottom: 0;
  }
  .item-title {
    font-size: 0.9rem;
    font-weight: 400;
  }
  .item-date,
  .item-text,
  .see-more-btn {
    font-size: 0.8rem;
  }
  .item-text::first-line {
    font-size: 1rem;
    font-weight: 400;
  }
  .text-and-image-content,
  .item-wrapper:nth-child(odd) .text-and-image-content {
    flex-direction: column;
  }
  .item-img {
    height: auto;
    width: 100%;
  }
  /* ANIMATION */
  .title-wrapper {
    gap: 0.5rem;
  }
  .bar {
    width: 0.4rem;
    height: 0.8rem;
  }
  @keyframes scale {
    0%,
    100% {
      height: 0.8rem;
      background-color: var(--brand-color);
    }

    50% {
      height: 3rem;
      background-color: var(--accent-color);
    }
  }
}

@media screen and (max-width: 450px) { /* Checked by Riku */
  .brand {
    font-size: 15px;
  }

  .main-nav ul {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .hero-media {
    width: 100%;
    height: 300px;
    object-position: right 20%;
  }

  .container-footer {
    display: flex;
    flex-direction: column;
    padding: 25px;
    gap: 12px;
  }

  .prefooter-grid {
    display: flex;
    flex-direction: column-reverse;
  }
}
